

  .title-css {
    width:'100%'!important;
    font-size:'50px'!important; 
    font-weight:'900'!important;
    margin-bottom:'20px!important'
  }
  
  .description-css {
    width:'50%'!important;
    font-size:'15px'!important;
    font-weight:'400'!important;
  }

  @media (min-width: 600px) {
    
  }